<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="shortcut icon" href="favicon.ico" />
<link th:href="@{/css/bootstrap.min.css?v=3.3.5}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css?v=4.4.0}" rel="stylesheet" />

<!-- Data Tables -->
<link th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" />

<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min.css?v=4.0.0}" rel="stylesheet" />

</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<!-- 查询、添加、批量删除、导出、刷新 -->
<!-- <div class="row-fluid">
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" id="btn-add">
                <i class="fa fa-plus"></i> 新增
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btn-delAll">
                <i class="fa fa-remove"></i> 批量删除
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btn-export">
                <i class="fa fa-sign-in"></i> 导出
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btn-re">
                <i class="fa fa-refresh"></i> 刷新
            </button>
        </div>
    </div>
    <div class="row">
        <form id="queryForm" action="" method="post">
            <div class="col-xs-2">
                <input type="text" id="keyword" name="keyword" class="form-control input-sm"
                    placeholder="关键字"/>
            </div>
            <button type="button" class="btn btn-primary btn-sm" id="btn-query">
                <i class="fa fa-search"></i> 查询
            </button>
        </form>
    </div>
</div> -->
					
					
						<form id="queryForm"  role="form" class="m-t">
                            
                            <div class="panel panel-default">
							    <div class="panel-heading">
							        查询条件
							    </div>
							    <div class="panel-body form-group" style="margin-bottom:0px;">
							        <label class="col-sm-1 control-label" style="text-align: right; margin-top:5px">用户名：</label>
							        <div class="col-sm-2">
							            <input type="text" class="form-control" name="searchUserName"/>
							        </div>
							        <label class="col-sm-1 control-label" style="text-align: right; margin-top:5px">电话：</label>
							        <div class="col-sm-2">
							            <input type="text" class="form-control" name="searchTel" />
							        </div>
							        <div class="col-sm-1">
							            <button class="btn btn-primary" id="search_btn" type="button"><i class="fa fa-search"></i>查询</button>
							        </div>
							     </div>
							</div>
                            
                        </form>
					</div>
					<div class="ibox-content">
                        
						<table id="mytab" class="table table-hover"></table>
						<div id="toolbar" class="btn-group pull-right">
						      <button id="btn_add" type="button" class="btn btn-primary"  style="margin-right: 2px;">
						          <span class="glyphicon glyphicon-plus" aria-hidden="true" type="button"></span>新增
						      </button>
						      <button id="btn_delete" type="button" class="btn btn-primary" >
						          <span class="glyphicon glyphicon-remove" aria-hidden="true" type="button"></span>删除
						      </button>
						 </div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js?v=3.3.5}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script th:src="@{/js/content.min.js?v=1.0.0}"></script>
	<script>
	$(document).ready(function() {
		
		//根据窗口调整表格高度
	    $(window).resize(function() {
	        $('#mytab').bootstrapTable('resetView', {
	            height: tableHeight()
	        })
	    })
	    
	    initTable();
	    
	    function initTable(){
	    	//生成用户数据
	    	$("#mytab").bootstrapTable('destroy'); 
	    	    $('#mytab').bootstrapTable({
	    	        method: 'post',
	    	        contentType: "application/x-www-form-urlencoded",//必须要有！！！！
	    	        url:"/user/getUserList",//要请求数据的文件路径
	    	        height:tableHeight(),//高度调整
	    	        toolbar: '#toolbar',//指定工具栏
	    	        striped: true, //是否显示行间隔色
	    	        dataField: "aoData",//bootstrap table 可以前端分页也可以后端分页，这里
	    	        //我们使用的是后端分页，后端分页时需返回含有total：总记录数,这个键值好像是固定的  
	    	        //rows： 记录集合 键值可以修改  dataField 自己定义成自己想要的就好
	    	        pageNumber: 1, //初始化加载第一页，默认第一页
	    	        pagination:true,//是否分页
	    	        queryParams:queryParams,//请求服务器时所传的参数
	    	        sidePagination:'server',//指定服务器端分页
	    	        pageSize:10,//单页记录数
	    	        pageList:[5,10,20,30],//分页步进值
	    	        showRefresh:true,//刷新按钮
	    	        showColumns:true,
	    	        clickToSelect: true,//是否启用点击选中行
	    	        toolbarAlign:'left',//工具栏对齐方式
	    	        buttonsAlign:'right',//按钮对齐方式
	    	        toolbar:'#toolbar',//指定工作栏
	    	        columns:[
	    	            {
	    	                title:'全选',
	    	                field:'select',
	    	                //复选框
	    	                checkbox:true,
	    	                width:25,
	    	                align:'center',
	    	                valign:'middle'
	    	            },
	    	            {
	    	                title:'ID',
	    	                field:'ID',
	    	                visible:false
	    	            },
	    	            {
	    	                title:'用户名',
	    	                field:'username'
	    	            },
	    	            {
	    	                title:'姓名',
	    	                field:'realName'
	    	                /* sortable:true */
	    	            },
	    	            {
	    	                title:'年龄',
	    	                field:'age'
	    	            },
	    	            {
	    	                title:'电话',
	    	                field:'tel'
	    	            },
	    	            {
	    	                title:'创建日期',
	    	                field:'createTime'
	    	            },
	    	            {
	    	                title:'操作',
	    	                field:'operate',
	    	                align:'center',
	    	                //列数据格式化
	    	                formatter:operateFormatter
	    	            }
	    	        ],
	    	        locale:'zh-CN',//中文支持,
	    	        responseHandler:function(res){
	    	        	if(res.length == 0){
	    	        		initTable();
	    	        	}
	    	            //在ajax获取到数据，渲染表格之前，修改数据源
	    	            return res;
	    	        }
	    	    });
		}
	
	    //三个参数，value代表该列的值
	    function operateFormatter(value,row,index){
	        /* if(value==2){
	            return '<i class="fa fa-lock" style="color:red"></i>'
	        }else if(value==1){
	            return '<i class="fa fa-unlock" style="color:green"></i>'
	        }else{
	            return '数据错误'
	        } */
	        new Date(value).toLocaleString(); //处理时间显示 
	    }

	    //请求服务数据时所传参数
	    function queryParams(params){
	    	var formData = $("#queryForm").serializeArray();//把form里面的数据序列化成数组
            formData.forEach(function (e) {
            	params[e.name] = e.value;
            });
             return params;//自定义需要传递的参数。
	    }
	     //查询按钮事件
	    $('#search_btn').click(function(){
	    	initTable();
	        //$('#mytab').bootstrapTable('refresh', {pageNumber: 1 });  
	    })
	    
	    //tableHeight函数
	    function tableHeight(){
	        //可以根据自己页面情况进行调整
	        return $(window).height() -280;
	    }
		
	        
	    });  
    </script>
    </body>

    </html>