<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link rel="shortcut icon" href="favicon.ico" />
<link th:href="@{/css/bootstrap.min.css?v=3.3.5}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css?v=4.4.0}" rel="stylesheet" />

<!-- Data Tables -->
<link th:href="@{/css/plugins/dataTables/dataTables.bootstrap.css}"
	rel="stylesheet" />

<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min.css?v=4.0.0}" rel="stylesheet" />

</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<div class="row">
                            <div class="col-sm-3 m-b-xs">
                                <label>姓名</label><input type="text" placeholder="请输入关键词" class="input-sm form-control"/>
                            </div>
                            <div class="col-sm-4 m-b-xs">
                                <div data-toggle="buttons" class="btn-group">
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" id="option1" name="options"/>天</label>
                                    <label class="btn btn-sm btn-white active">
                                        <input type="radio" id="option2" name="options"/>周</label>
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" id="option3" name="options"/>月</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"/>
                                     <input type="text" placeholder="请输入关键词" class="input-sm form-control"/>
                                      <input type="text" placeholder="请输入关键词" class="input-sm form-control"/> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                        </div>
					</div>
					<div class="ibox-content">
                        
						<table
							class="table table-striped table-bordered table-hover dataTables-user">
							<thead>
								<tr>
									<th><input type="checkbox" class="checkbox_all" /></th>
									<th>用户名</th>
									<th>姓名</th>
									<th>年龄</th>
									<th>电话</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>

							</tbody>

						</table>

					</div>
				</div>
			</div>
		</div>

	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js?v=3.3.5}"></script>
	<script th:src="@{/js/plugins/dataTables/jquery.dataTables.js}"></script>
	<script th:src="@{/js/plugins/dataTables/dataTables.bootstrap.js}"></script>
	<script th:src="@{/js/content.min.js?v=1.0.0}"></script>
	<script>
	    $(document).ready(function() {
	    	//初始化table 
	        var table = $(".dataTables-user").dataTable({ 
	                  "bPaginate" : true,//分页工具条显示 
	                  "sPaginationType" : "full_numbers",//分页工具条样式 
	                  "bStateSave" : true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态  
	                  "bScrollCollapse" : true, //当显示的数据不足以支撑表格的默认的高度 
	                  "bLengthChange" : true, //每页显示的记录数 
	                  "bFilter" : false, //搜索栏 
	                  "bSort" : false, //是否支持排序功能 
	                  "bAutoWidth" : true, //自适应宽度 
	                  "bJQueryUI" : false,//是否开启主题 
	                  "bDestroy" : true, 
	                  "bProcessing" : true, //开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好 
	                  "bServerSide" : true,//服务器处理分页，默认是false，需要服务器处理，必须true 
	                  "oLanguage": {                          //汉化  
	                      "oPaginate": {  
	                          "sFirst": "首页",  
	                          "sPrevious": "前页",  
	                          "sNext": "后页",  
	                          "sLast": "尾页"  
	                      }  
	                  },   
	                  "sAjaxSource" : "/user/getUserList",//通过ajax实现分页的url路径。  
	                  "aoColumns" : [//初始化要显示的列 
	                       {
	                    	   "mDataProp" : "id", 
		                        "mRender" : function(data, type, full) { 
		                          	return '<input type="checkbox" class="checkbox_item" />'; 
		                      	} 
	                       },
	                      { 
	                        "mDataProp" : "username"
	                      }, 
	                      { 
	                        "mDataProp" : "realName"
	                      }, 
	                      { 
	                        "mDataProp" : "age"
	                      }, 
	                      { 
		                        "mDataProp" : "tel"
		                   }, 
	                      { 
	                        "mDataProp" : "createTime", 
	                        "mRender" : function(data, type, full) { 
	                          	return new Date(data).toLocaleString(); //处理时间显示 
	                      	} 
	                      }, 
	                      { 
	                        "mDataProp" : "id", 
	                        "mRender" : function(data, type, full) { 
	                          	return '<a class="item_update" href="#">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="item_update" href="#">删除</a>';
	                        } 
	                      }]
	                }); 
	    	
	      //全选 
	      $('table th input:checkbox').on('click', function() { 
	      		var that = this; 
	            $(this).closest('table').find('tr > td:first-child input:checkbox').each(function() { 
	                    this.checked = that.checked; 
	                    $(this).closest('tr').toggleClass('selected'); 
	             }); 
	       }); 
	      
	});  
    </script>

</body>

</html>