<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>菜单管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="shortcut icon" href="favicon.ico"/> 
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css?v=4.0.0}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/treeview/patternfly-bootstrap-treeview.css}" rel="stylesheet"/>

</head>

<body class="gray-bg">
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bootstrap Tree View 简介</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="buttons.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="buttons.html#">选项1</a>
                            </li>
                            <li><a href="buttons.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>Bootstrap Tree View 是一个简单而优雅的Bootstrap树形视图解决方案。
                        <br/>您可以访问作者的
                        <a href="https://github.com/jonmiles/bootstrap-treeview" target="_blank">GitHub页面</a> 了解其用法及更多信息。</p>
                </div>
            </div>
        </div>
        
        
        
        
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>自定义图标</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="buttons.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="buttons.html#">选项1</a>
                            </li>
                            <li><a href="buttons.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="treeview5" class="test"></div>
                </div>
            </div>
        </div>
        
        
        
        <div class="col-sm-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>事件</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="buttons.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="buttons.html#">选项1</a>
                            </li>
                            <li><a href="buttons.html#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="col-sm-6">
                        <div id="treeview11" class="test"></div>
                    </div>
                    <div class="col-sm-6">
                        <h5>事件输出：</h5>
                        <hr/>
                        <div id="event_output"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/content.min.js}"></script>
    <script th:src="@{/js/plugins/treeview/patternfly-bootstrap-treeview.js}"></script>
    <script th:src="@{/js/system/menu/menuManager.js}"></script>
</body>

</html>