<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tortoise.quake.dao.AuthorityMapper">

	<resultMap id="BaseResultMap" type="com.tortoise.quake.model.Authority">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="menu_id" property="menuId" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id,role_id,menu_id
	</sql>

	<sql id="Alias_Column_List">
		t.id,t.role_id,t.menu_id
	</sql>

	<sql id="Base_Condition">
		<where>
		   <if test="roleId != null">and t.role_id = #{roleId,jdbcType=BIGINT}</if>
		   <if test="menuId != null">and t.menu_id = #{menuId,jdbcType=BIGINT}</if>
		   <!-- 自定义 -->
		</where>
	</sql>

	<!-- 通过复合条件查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select
		<include refid="Alias_Column_List" />
		from sys_authority t
		<include refid="Base_Condition" />
	</select>

	<!-- 统计 -->
	<select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(0)
		from sys_authority t
		<include refid="Base_Condition" />
	</select>

	<!-- 通过主键查询对象 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_authority
		where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- 通过主键删除对象 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from sys_authority
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 新增对象(所有字段) -->
	<insert id="insertAllField" parameterType="com.tortoise.quake.model.Authority">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>

		insert into sys_authority(
			<include refid="Base_Column_List" />
		)
		values(
			#{id,jdbcType=BIGINT},
			#{roleId,jdbcType=BIGINT},
			#{menuId,jdbcType=BIGINT}
		)
	</insert>

	<!-- 新增对象(部分字段) -->
	<insert id="insert" parameterType="com.tortoise.quake.model.Authority">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>

		insert into sys_authority
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="roleId != null">role_id,</if>
			<if test="menuId != null">menu_id,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="roleId != null">#{roleId,jdbcType=BIGINT},</if>
			<if test="menuId != null">#{menuId,jdbcType=BIGINT},</if>
		</trim>
	</insert>

	<!-- 修改对象 (部分字段)-->
	<update id="update" parameterType="com.tortoise.quake.model.Authority">
		update sys_authority
		<set>
			<if test="roleId != null">role_id = #{roleId,jdbcType=BIGINT},</if>
			<if test="menuId != null">menu_id = #{menuId,jdbcType=BIGINT},</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 修改对象(所有字段) -->
	<update id="updateAllField" parameterType="com.tortoise.quake.model.Authority">
		update sys_authority
		set
			role_id = #{roleId,jdbcType=BIGINT},
			menu_id = #{menuId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 批量插入(所有字段) -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into sys_authority(
			<include refid="Base_Column_List" />
		)
		values
		<foreach collection="list" index="index" item="item" separator=",">
		(
			#{item.id}
			<choose><when test="item.roleId != null">,#{item.roleId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.menuId != null">,#{item.menuId}</when><otherwise>,default</otherwise></choose>
		)
		</foreach>
	</insert>

	<!-- 批量插入或更新(所有字段) -->
	<update id="batchInsertOrUpdate" parameterType="java.util.List">
		insert into sys_authority(
			<include refid="Base_Column_List" />
		)
		values
		<foreach collection="list" index="index" item="item" separator=",">
		(
			#{item.id}
			<choose><when test="item.roleId != null">,#{item.roleId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.menuId != null">,#{item.menuId}</when><otherwise>,default</otherwise></choose>
		)
		</foreach>
		on duplicate key update role_id = values(role_id), menu_id = values(menu_id)
	</update>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
		delete from sys_authority where id in 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 自定义 -->
	
	<!-- 根据角色ID删除权限  -->
	<delete id="deleteByRoleId" parameterType="java.lang.Long">
		delete from sys_authority
		where role_id = #{roleId,jdbcType=BIGINT}
	</delete>
	
</mapper>
