<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tortoise.quake.dao.DepartmentMapper">

	<resultMap id="BaseResultMap" type="com.tortoise.quake.model.Department">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="department_name" property="departmentName" jdbcType="VARCHAR" />
		<result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="pid" property="pid" jdbcType="BIGINT" />
		<result column="create_id" property="createId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_id" property="updateId" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id,department_name,department_code,level,pid,create_id,create_time,update_id,update_time,is_deleted
	</sql>

	<sql id="Alias_Column_List">
		t.id,t.department_name,t.department_code,t.level,t.pid,t.create_id,t.create_time,t.update_id,t.update_time,t.is_deleted
	</sql>

	<sql id="Base_Condition">
		<where>
		   t.is_deleted = 0
		   <if test="departmentName != null">and t.department_name = #{departmentName,jdbcType=VARCHAR}</if>
		   <if test="departmentCode != null">and t.department_code = #{departmentCode,jdbcType=VARCHAR}</if>
		   <!-- 自定义 -->
		</where>
	</sql>

	<!-- 通过复合条件查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select
		<include refid="Alias_Column_List" />
		from sys_department t
		<include refid="Base_Condition" />
	</select>

	<!-- 统计 -->
	<select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(0)
		from sys_department t
		<include refid="Base_Condition" />
	</select>

	<!-- 通过主键查询对象 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_department
		where id = #{id,jdbcType=BIGINT} and is_deleted = 0
	</select>

	<!-- 通过主键删除对象 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from sys_department
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 新增对象(所有字段) -->
	<insert id="insertAllField" parameterType="com.tortoise.quake.model.Department">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>

		insert into sys_department(
			<include refid="Base_Column_List" />
		)
		values(
			#{id,jdbcType=BIGINT},
			#{departmentName,jdbcType=VARCHAR},
			#{departmentCode,jdbcType=VARCHAR},
			#{level,jdbcType=TINYINT},
			#{pid,jdbcType=BIGINT},
			#{createId,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateId,jdbcType=VARCHAR},
			#{updateTime,jdbcType=TIMESTAMP},
			#{isDeleted,jdbcType=TINYINT}
		)
	</insert>

	<!-- 新增对象(部分字段) -->
	<insert id="insert" parameterType="com.tortoise.quake.model.Department">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>

		insert into sys_department
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="departmentName != null">department_name,</if>
			<if test="departmentCode != null">department_code,</if>
			<if test="level != null">level,</if>
			<if test="pid != null">pid,</if>
			<if test="createId != null">create_id,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateId != null">update_id,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="isDeleted != null">is_deleted,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="departmentName != null">#{departmentName,jdbcType=VARCHAR},</if>
			<if test="departmentCode != null">#{departmentCode,jdbcType=VARCHAR},</if>
			<if test="level != null">#{level,jdbcType=TINYINT},</if>
			<if test="pid != null">#{pid,jdbcType=BIGINT},</if>
			<if test="createId != null">#{createId,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateId != null">#{updateId,jdbcType=VARCHAR},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="isDeleted != null">#{isDeleted,jdbcType=TINYINT},</if>
		</trim>
	</insert>

	<!-- 修改对象 (部分字段)-->
	<update id="update" parameterType="com.tortoise.quake.model.Department">
		update sys_department
		<set>
			<if test="departmentName != null">role_name = #{departmentName,jdbcType=VARCHAR},</if>
			<if test="departmentCode != null">role_code = #{departmentCode,jdbcType=VARCHAR},</if>
			<if test="level != null">level = #{level,jdbcType=TINYINT},</if>
			<if test="pid != null">pid = #{pid,jdbcType=BIGINT},</if>
			<if test="createId != null">create_id = #{createId,jdbcType=VARCHAR},</if>
			<if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateId != null">update_id = #{updateId,jdbcType=VARCHAR},</if>
			<if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="isDeleted != null">is_deleted = #{isDeleted,jdbcType=TINYINT},</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 修改对象(所有字段) -->
	<update id="updateAllField" parameterType="com.tortoise.quake.model.Department">
		update sys_department
		set
			department_name = #{departmentName,jdbcType=VARCHAR},
			department_code = #{departmentCode,jdbcType=VARCHAR},
			level = #{level,jdbcType=TINYINT},
			pid = #{pid,jdbcType=BIGINT},
			create_id = #{createId,jdbcType=VARCHAR},			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_id = #{updateId,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			is_deleted = #{isDeleted,jdbcType=TINYINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 批量插入(所有字段) -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into sys_department(
			<include refid="Base_Column_List" />
		)
		values
		<foreach collection="list" index="index" item="item" separator=",">
		(
			#{item.id}
			<choose><when test="item.departmentName != null">,#{item.departmentName}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.departmentCode != null">,#{item.departmentCode}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.level != null">,#{item.level}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.pid != null">,#{item.pid}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createId != null">,#{item.createId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createTime != null">,#{item.createTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateId != null">,#{item.updateId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateTime != null">,#{item.updateTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.isDeleted != null">,#{item.isDeleted}</when><otherwise>,default</otherwise></choose>
		)
		</foreach>
	</insert>

	<!-- 批量插入或更新(所有字段) -->
	<update id="batchInsertOrUpdate" parameterType="java.util.List">
		insert into sys_department(
			<include refid="Base_Column_List" />
		)
		values
		<foreach collection="list" index="index" item="item" separator=",">
		(
			#{item.id}
			<choose><when test="item.departmentName != null">,#{item.departmentName}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.departmentCode != null">,#{item.departmentCode}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.level != null">,#{item.level}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.pid != null">,#{item.pid}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createId != null">,#{item.createId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createTime != null">,#{item.createTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateId != null">,#{item.updateId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateTime != null">,#{item.updateTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.isDeleted != null">,#{item.isDeleted}</when><otherwise>,default</otherwise></choose>
		)
		</foreach>
		on duplicate key update department_name = values(department_name), department_code = values(department_code), level=values(level), pid=values(pid), create_id = values(create_id), create_time = values(create_time), update_id = values(update_id), update_time = values(update_time), is_deleted = values(is_deleted)
	</update>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
		delete from sys_department where id in 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 自定义 -->
</mapper>
