<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tortoise.quake.dao.MenuMapper">

	<resultMap id="BaseResultMap" type="com.tortoise.quake.model.Menu">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
		<result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
		<result column="target_url" property="targetUrl" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="pid" property="pid" jdbcType="BIGINT" />
		<result column="create_id" property="createId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_id" property="updateId" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id,menu_name,menu_code,menu_icon,target_url,level,pid,create_id,create_time,update_id,update_time,is_deleted
	</sql>

	<sql id="Alias_Column_List">
		t.id,t.menu_name,t.menu_code,t.menu_icon,t.target_url,t.level,t.pid,t.create_id,t.create_time,t.update_id,t.update_time,t.is_deleted
	</sql>

	<sql id="Base_Condition">
		<where>
		   t.is_deleted = 0
		   <if test="menuName != null">and t.menu_name = #{menuName,jdbcType=VARCHAR}</if>
		   <if test="menuCode != null">and t.menu_code = #{menuCode,jdbcType=VARCHAR}</if>
		   <if test="menuIcon != null">and t.menu_icon = #{menuIcon,jdbcType=VARCHAR}</if>
		   <if test="targetUrl != null">and t.target_url = #{targetUrl,jdbcType=VARCHAR}</if>
		   <if test="level != null">and t.level = #{level,jdbcType=TINYINT}</if>
		   <if test="pid != null">and t.pid = #{pid,jdbcType=BIGINT}</if>
		   <!-- 自定义 -->
		</where>
	</sql>

	<!-- 通过复合条件查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.HashMap">
		select
		<include refid="Alias_Column_List" />
		from sys_menu t
		<include refid="Base_Condition" />
	</select>

	<!-- 统计 -->
	<select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select count(0)
		from sys_menu t
		<include refid="Base_Condition" />
	</select>

	<!-- 通过主键查询对象 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where id = #{id,jdbcType=BIGINT} and is_deleted = 0
	</select>

	<!-- 通过主键删除对象 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from sys_menu
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<!-- 新增对象(所有字段) -->
	<insert id="insertAllField" parameterType="com.tortoise.quake.model.Menu">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>

		insert into sys_menu(
			<include refid="Base_Column_List" />
		)
		values(
			#{id,jdbcType=BIGINT},
			#{menuName,jdbcType=VARCHAR},
			#{menuCode,jdbcType=VARCHAR},
			#{menuIcon,jdbcType=VARCHAR},
			#{targetUrl,jdbcType=VARCHAR},
			#{level,jdbcType=TINYINT},
			#{pid,jdbcType=BIGINT},
			#{createId,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateId,jdbcType=VARCHAR},
			#{updateTime,jdbcType=TIMESTAMP},
			#{isDeleted,jdbcType=TINYINT}
		)
	</insert>

	<!-- 新增对象(部分字段) -->
	<insert id="insert" parameterType="com.tortoise.quake.model.Menu">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>

		insert into sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="menuName != null">menu_name,</if>
			<if test="menuCode != null">menu_code,</if>
			<if test="menuIcon != null">menu_icon,</if>
			<if test="targetUrl != null">target_url,</if>
			<if test="level != null">level,</if>
			<if test="pid != null">pid,</if>
			<if test="createId != null">create_id,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateId != null">update_id,</if>
			<if test="updateTime != null">update_time,</if>
			<if test="isDeleted != null">is_deleted,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="menuName != null">#{menuName,jdbcType=VARCHAR},</if>
			<if test="menuCode != null">#{menuCode,jdbcType=VARCHAR},</if>
			<if test="menuIcon != null">#{menuIcon,jdbcType=VARCHAR},</if>
			<if test="targetUrl != null">#{targetUrl,jdbcType=VARCHAR},</if>
			<if test="level != null">#{level,jdbcType=TINYINT},</if>
			<if test="pid != null">#{pid,jdbcType=BIGINT},</if>
			<if test="createId != null">#{createId,jdbcType=VARCHAR},</if>
			<if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateId != null">#{updateId,jdbcType=VARCHAR},</if>
			<if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="isDeleted != null">#{isDeleted,jdbcType=TINYINT},</if>
		</trim>
	</insert>

	<!-- 修改对象 (部分字段)-->
	<update id="update" parameterType="com.tortoise.quake.model.Menu">
		update sys_menu
		<set>
			<if test="menuName != null">menu_name = #{menuName,jdbcType=VARCHAR},</if>
			<if test="menuCode != null">menu_code = #{menuCode,jdbcType=VARCHAR},</if>
			<if test="menuIcon != null">menu_icon = #{menuIcon,jdbcType=VARCHAR},</if>
			<if test="targetUrl != null">target_url = #{targetUrl,jdbcType=VARCHAR},</if>
			<if test="level != null">level = #{level,jdbcType=TINYINT},</if>
			<if test="pid != null">pid = #{pid,jdbcType=BIGINT},</if>
			<if test="createId != null">create_id = #{createId,jdbcType=VARCHAR},</if>
			<if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
			<if test="updateId != null">update_id = #{updateId,jdbcType=VARCHAR},</if>
			<if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
			<if test="isDeleted != null">is_deleted = #{isDeleted,jdbcType=TINYINT},</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 修改对象(所有字段) -->
	<update id="updateAllField" parameterType="com.tortoise.quake.model.Menu">
		update sys_menu
		set
			menu_name = #{menuName,jdbcType=VARCHAR},
			menu_code = #{menuCode,jdbcType=VARCHAR},
			menu_icon = #{menuIcon,jdbcType=VARCHAR},
			target_url = #{targetUrl,jdbcType=VARCHAR},
			level = #{level,jdbcType=TINYINT},
			pid = #{pid,jdbcType=BIGINT},
			create_id = #{createId,jdbcType=VARCHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_id = #{updateId,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			is_deleted = #{isDeleted,jdbcType=TINYINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 批量插入(所有字段) -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into sys_menu(
			<include refid="Base_Column_List" />
		)
		values
		<foreach collection="list" index="index" item="item" separator=",">
		(
			#{item.id}
			<choose><when test="item.menuName != null">,#{item.menuName}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.menuCode != null">,#{item.menuCode}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.menuIcon != null">,#{item.menuIcon}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.targetUrl != null">,#{item.targetUrl}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.level != null">,#{item.level}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.pid != null">,#{item.pid}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createId != null">,#{item.createId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createTime != null">,#{item.createTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateId != null">,#{item.updateId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateTime != null">,#{item.updateTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.isDeleted != null">,#{item.isDeleted}</when><otherwise>,default</otherwise></choose>
		)
		</foreach>
	</insert>

	<!-- 批量插入或更新(所有字段) -->
	<update id="batchInsertOrUpdate" parameterType="java.util.List">
		insert into sys_menu(
			<include refid="Base_Column_List" />
		)
		values
		<foreach collection="list" index="index" item="item" separator=",">
		(
			#{item.id}
			<choose><when test="item.menuName != null">,#{item.menuName}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.menuCode != null">,#{item.menuCode}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.menuIcon != null">,#{item.menuIcon}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.targetUrl != null">,#{item.targetUrl}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.level != null">,#{item.level}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.pid != null">,#{item.pid}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createId != null">,#{item.createId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.createTime != null">,#{item.createTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateId != null">,#{item.updateId}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.updateTime != null">,#{item.updateTime}</when><otherwise>,default</otherwise></choose>
			<choose><when test="item.isDeleted != null">,#{item.isDeleted}</when><otherwise>,default</otherwise></choose>
		)
		</foreach>
		on duplicate key update menu_name = values(menu_name), menu_code = values(menu_code), menu_icon = values(menu_icon), target_url = values(target_url), level = values(level), pid = values(pid), create_id = values(create_id), create_time = values(create_time), update_id = values(update_id), update_time = values(update_time), is_deleted = values(is_deleted)
	</update>

	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="java.util.List">
		delete from sys_menu where id in 
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 自定义 -->
	
	
	
</mapper>
